<a href="https://colab.research.google.com/github/GwanMuk/Pytion_Study24/blob/master/BaseType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python 프로그래밍 기초, 자료형

1. 숫자형

2. 문자열

3. 리스트

4. 튜플

5. 딕셔너리

6. 집합

7. 불

In [3]:
# <- 주석처리
# 숫자형은 정수형, 실수형, 진수형이 있다.
# 정수형(integer) : 양의 정수와 음의 정수, 숫자 0을 변수에 대입
a = 123   # 양의 정수
b = -123  # 음의 정수
c = 0     # 숫자 0

# 실수형(floating-point) : 소수점이 포함된 숫자

d = 1.2
e = -3.14

# 지수 표현방법 : 많은 수치를 짧게 표현하기 위해서

f = 4.24E10  # 4.24 * 10^10
g = 4.24e-10 # 4.24 * 10^-10

# 진수 표현방법 :
# 8진수 (옥타 ; octal) -> 숫자 0에 알파벳o (대소문자가능)

h = 0o177   # 177 8진수
print(h)    # 127 10진수

# 16진수 (헥사 : hexadecimal) -> 숫자 0에 알파벳x

i = 0x8ff   # 8ff 16진수
print(i)    # 2303 10진수

127
2303

숫자형을 활용하기 위한 연산자들

1. 시칙연산 : + , - , * , /
2. 우선순위 : 괄호 -> * , / -> 앞쪽연산자

In [4]:
a = 3
b = 4
a + b

7

In [6]:
c - d

-1.2

In [7]:
e * f

-133136000000.0

In [8]:
a / b

0.75

In [9]:
# 제곱 처리하는 방법
a ** b   # 3^4

81

In [11]:
# 나머지 처리하는 방법 (%)
7 % 3    # 7을 3으로 나눈 나머지

1

In [12]:
# 나눗셈 후 몫을 리턴하는 연산자(//)
7 // 4

1

In [14]:
# 복합 연산자 +=, -=, *=, /=, //=, %=, **=

a = 2
a=a+1
print(a)

a = 2
a += 1
print(a)

a = 2
a -= 1
print(a)

a = 2
a *= 1
print(a)

a = 2
a /= 1
print(a)

a = 2
a //= 1
print(a)

a = 2
a %= 1
print(a)

a = 2
a **= 1
print(a)

2
3
2
2
2.0
2.0
0.0
0.0

In [20]:
# 문자열 자료형 (string) : 연속된 문자들의 나열 "" 큰따음표

# 큰따옴표
"Hello World"

# 작은따옴표
'Hello World'

# 큰따옴표를 3개를 연속으로 써서 양쪽으로 둘러싸기
"""Hello World"""

# 작은따옴표 3개를 연속으로 써서 양쪽으로 둘러싸기
'''Hello World'''

# food = 'Python's favorite food is perl'
# SyntaxError: unterminated string literal (detected at line 15)
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [19]:
# 만약에 문자열 출력에 큰따옴표를 보여주고 싶을 때
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [21]:
# 이스케이프문자 활용하기 \n \t \r \\등... (역슬레쉬로 활용)

food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

In [22]:
# 여러줄로 출력 \n 엔터효과
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [23]:
# 여러줄로 출력이 가능한 """
multiline = """
Life is too short
You need python
"""
print(multiline)

Life is too short
You need python

In [24]:
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

# 이스케이프 코드 종류

* \n : 문자열 안에서 줄을 바꿈
* \t : 탭 간격으로 줄을 밀어낸다
* \\ : \를 출력한다
* \' : '를 출력한다
* \" : "를 출력한다
* \r : 캐리지 리턴(과거의 타자기 효과 : 커서를 현재줄 맨 앞으로 보냄)
* \f : 폼피드 (줄 바꿈 문자. 커서를 현재 줄의 다음 줄로 이동)
* \a : 벨소리 (출력할 때 삑소리가 남)
* \b : 백 스페이스
* \000 : Null문자

In [25]:
# 문자열 연산자 (문자열을 더하거나 곱할 수 있다.)
head = "Python"
tail = " is fun~!"
head + tail

'Python is fun~!'

In [29]:
body = "Python "
body * 5

'Python Python Python Python Python '

In [36]:
print("=" * 30)
print("|| Welcome to Python World  ||")
print("=" * 30)

==============================
|| Welcome to Python World  ||
==============================

In [37]:
# 문자열의 길이를 구함
a = "Life is too short" # 띄어쓰기 포함
len(a)

17

In [60]:
# 문자열 인덱싱, 슬라이싱
# 문자열은 문자를 배열로 만들어 놓음(0번 인덱스부터 적용됨)
a = "Life is too short. You need Python"
#    0               16               33
#   -33              -18              -1
a[16]

't'

In [39]:
# 문자열을 뒤에서부터 읽기 위해서 -기호를 붙임
a[-1]

'n'

In [42]:
a[-18]

't'

In [43]:
# 문자열 추출하기
b = a[0]+a[1]+a[2]+a[3]
print(b)

Life

In [61]:
# 슬라이싱 기법
a[0:4] # 0 <= a<4
a

'Life is too short. You need Python'

In [50]:
a[12:17]

'short'

In [52]:
a[19:] # 19 인덱스 부터 끝까지

'You need Python'

In [54]:
a[:18] # 처음부터 18 인덱스 까지

'Life is too short.'

In [55]:
a[:] # 처음부터 끝까지

'Life is too short. You need Python'

In [67]:
# 슬라이싱 활용해보기
a = "20241218Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

20241218
Rainy

In [71]:
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year)
print(month)
print(day)
print(weather)
type(year)

2024
12
18
Rainy

str

In [72]:
# 만약에 Pithon 문자열을 만들었는데 Python으로 교체가 될까?

a = "pytion"
#a[1] = 'i'
#TypeError: 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment

In [74]:
b = "Pition"
c = b[:1] + 'y' +b[2:]
c # 결론은 String 타입은 수정이 불가하다! -> 매서드를 활용하던디 쪼개서 붙여야 한다

'Pytion'

In [75]:
# 문자열 포멧팅 -> 자바에서 printf와 같은 기능
# 포멧팅은 동적 출력을 위한  기능으로 ""안에 정수나 문자열등을 추가할 때 활용
"I eat %d apples." % 3
# %d는 포멧팅 코드
# 마지막에 있는 %는 동적 값을 삽입한다

'I eat 3 apples.'

In [76]:
"| eat %s apples." % "five"
# %s는 문자열이 동적으로 삽입
# 마지막에 % 뒤에는 문자열을 넣어야 함으로 "", '' 처리를 해야 한다.

'| eat five apples.'

In [77]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [79]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)
# 동적 매개 값을 2개이상 넣고 싶으면 괄호안에 쉽표로 넣음
# 단, 순서와 타입은 맞출 것

'I ate 10 apples. so I was sick for three days.'



*   %s : 문자열(String)
*   %d : 정수(Integer)
*   %c : 문자(character) -> 1개 문자
*   %f : 실수(부동소수점)
*   %o : 8진수
*   %x : 16진수

In [80]:
# 파이썬의 장점(%s는 정수나 실수를 자동타입으로 문자열 변환을 지원함)
"I have %s apples" % 3

'I have 3 apples'

In [81]:
"rate is %s" %3.14

'rate is 3.14'

In [82]:
# 문자열 안에 %를 넣고 싶을 때 -> Error is 98%
"Error is %d%." %98

ValueError: incomplete format

In [83]:
"Error is %d%%." %98
# 확률을 출력 할 때 %를 예약어로 2번 써야(%%) 문자열 처리 됨

'Error is 98%.'

In [87]:
# 포멧팅 숫자 처리 (문자는 기본적으로 왼쪽 정렬, 숫자는 오른쪽 정렬)
"%10s" % "hi"
"%-10s MBC Ai" % "hi"  # -10 문자열 10칸을 여백으로 생성하고 그 안쪽에 문자를 왼쪽정렬해서 넣음

'hi         MBC Ai'

In [94]:
# 소수점 포맷팅
"%10.4f" %333333333333.1415926253   # 0.4는 소수점 4자리까지 출력(반올림)
# 정수쪽 10은 기본자리수가 10자리지만 넘치면 알아서 늘려줌

'333333333333.1416'

In [95]:
# 포맷팅에 가독성을 높이기 위해서 .format()매서드를 만들어 놓았다.
"I eat {0} apples" .format(3)

'I eat 3 apples'

In [96]:
"I eat {0} apples" .format("다섯개")

'I eat 다섯개 apples'

In [97]:
number = 3
"I eat {0} apples" .format(number)

'I eat 3 apples'

In [99]:
number = 10
day = "three"
"I ate {1} apples. so I was sick for {0} days." .format(number, day)

'I ate three apples. so I was sick for 10 days.'

In [100]:
"I ate {number} apples. so I was sick for {day} days." .format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [101]:
"I ate {0} apples. so I was sick for {day} days." .format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [105]:
"MBC AI {0:<10} Python" .format("hi")   # 왼쪽정렬
"MBC AI {0:>10} Python" .format("hi")   # 오른쪽 정렬
"MBC AI {0:^10} Python" .format("hi")   # 중앙 정렬

'MBC AI     hi     Python'

In [110]:
"{0:와^10}".format("hi")

'와와와와hi와와와와'

In [111]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [113]:
# 소수점 표현하기
y = 3.987654321
"{0:10.4f}".format(y) # 총 자리수 10자리 중에 소수점은 4자리로 출력

'    3.9877'

In [114]:
# { 문자 }를 출력하고 싶을 때
"{ 문자 }".format()

KeyError: ' 문자 '

In [115]:
"{{ 문자 }}".format()
# 예약 기호를 두번 기입하면 문자형태로 출력 가능

'{ 문자 }'

In [120]:
# 파이썬 3.6 이상 버전의 최신 포멧팅
# .format()를 사용하지 않는 기법 -> 접두사로 f를 기입한다.

name = "김기원"
age = 42
f"""나의 이름은 {name}입니다.
나이는 {age+5}입니다."""
text = f"""나의 이름은 {name}입니다.
나이는 {age+5}입니다."""
print(text)

나의 이름은 김기원입니다.
나이는 47입니다.

In [121]:
# 딕셔너리를 활용한 포멧팅 ( key : value )
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [124]:
f'{"hi":<10}'

'hi        '

In [125]:
f'{"hi":=^10}'

'====hi===='

In [127]:
y=4.343254658678
f'{y:_>10.5f}'

'___4.34325'

In [128]:
# { 문자 }로 출력하고 싶을 때
f'{ 문자 }'

NameError: name '문자' is not defined

In [129]:
f'{{ 문자 }}'

'{ 문자 }'