<a href="https://colab.research.google.com/github/GwanMuk/Pytion_Study24/blob/master/ListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Table 자료처리 : 각각의 객체를 모아서 처리하는 용도

*  리스트 자료혈
*  튜플 자료형
*  딕셔너리 자료형
*  집합 자료형

In [ ]:
# List자료형 : []를 이용하여 감싸고 쉽표로 요소를 구분함.

odd = [1, 3, 5, 7, 9]  # 자바의 배열과 유사하나 배열은 초기 행열값을 갖는다.(배열의 크기조정 불가) -> arraylist

a = []  # 빈 리스트 a = list() 도 생성 가능
b = [1, 2, 3] # 정수형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자형 리스트
d = [1, 2, 'Life', 'is'] # 혼합형 리스트
e = [1, 2, ['Life', 'is']] # 리스트의 리스트

In [1]:
# List 인덱싱
a =[1, 2, 3]
print(a[0]) # a리스트의 0번 인덱스를 출력

1

In [2]:
a[0] + a[2]

4

In [3]:
a[-1] # 마지막 요소 값

3

In [5]:
a = [1, 2, 3, ['a', 'b', 'c']]  #2차원 배열
a[3]  # a[-1]과 동일

['a', 'b', 'c']

In [7]:
a = [1, 2, 3, ['a', 'b', 'c']]  # 2차원 배열
a[-1][2]                        # 2차원 배열을 출력 하려면 [행][열]

'c'

In [8]:
# 3차원 배열 -> 사진이나 영상 처리, 게임 (가로 × 세로 -> 픽셀, 깊이 -> RGB컬러)
MEMBER = [["김기원", ["교사", 312]], ["김지선",["학생",312]], ["윤인영", ["학생2",311]], ["육진", ["학생3",313]]]
MEMBER[1][1][1]  # 김지선 학생의 강의실 번호

312

In [10]:
# List 슬라이싱
a = [1, 2, 3, 4, 5]   # 0번 인덱스 <= 사이 인덱스들 <2번 인덱스
a[0:2]

[1, 2]

In [11]:
a[:2]   # 처음부터 2번 인덱스 전까지

[1, 2]

In [12]:
a[2:]   # 2번 인덱스부터 마지막 까지

[3, 4, 5]

In [16]:
a = [1, 2, 3, ['a', 'b', 'c'],4 ,5]
#    0  1  2       3          4  5

a[2:5]

[3, ['a', 'b', 'c'], 4]

In [17]:
a[3][1:]

['b', 'c']

In [18]:
# List 연산 ＋와 ×를 활용할 수가 있다
a = [1, 2, 3]
b = [4, 5, 6]
a + b         # 문자열의 +계산과 유사하다

[1, 2, 3, 4, 5, 6]

In [19]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [20]:
# List의 길이 구하기
len(a)

3

In [23]:
# List에 글자 추가하기
a =[1, 2, 3]
a[2] + "하이"   #3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
str(a[2]) + "안녕?" # str(정수) -> 정수가 문자열로 변환 "3" + "안녕?"

'3안녕?'

In [29]:
# List값 수정, 삭제
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [32]:
del a[2]    # del 명령어는 객체를 삭제하는 명령어
a

[1, 2]

In [33]:
a = [1, 2, 3, 4, 5]
del a[2:]     # remove, pop 함수로 제거용
a

[1, 2]

In [34]:
# List 관련 함수

# .append() 이미 만들어진 List에 객체를 추가 할 때
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [35]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [36]:
# sort() : List 요소를 정령 해준다.
a = [1,5,3,6,2,4]
a.sort()    # 오름차순 정령
a

[1, 2, 3, 4, 5, 6]

In [37]:
a.reverse()   # 내림차순 정렬
a

[6, 5, 4, 3, 2, 1]

In [42]:
a = [6, '김기원', 'A', '@']
a.sort
a

[6, '김기원', 'A', '@']

In [43]:
a.reverse
a

[6, '김기원', 'A', '@']

In [44]:
b = ['z', 'c', 'a', 'f']
b.sort()
b

['a', 'c', 'f', 'z']

In [51]:
c = ['윤인영', '황인철', '김기원', '김지선']
c.sort()
c

['김기원', '김지선', '윤인영', '황인철']

In [48]:
# 인덱스 반환 .index(값)
a = [7, 1, 4]
#    0  1  2 index
a.index(4)

2

In [49]:
a.index(7)

0

In [50]:
a.index(5)

ValueError: 5 is not in list

In [52]:
# List의 요소 삽입 .insert(인덱스, 값)
a = [1, 2, 3]
a.insert(0, 4)    # 0번 인덱스에 4값을 추가하고 기존 인덱스는 밀림
a

[4, 1, 2, 3]

In [53]:
a.insert(3,5)   # 3번 인덱스에 5 값을 추가하고 기존 인덱스는 밀림
a

[4, 1, 2, 5, 3]

In [54]:
a.remove(3)   # .remove(값) 값이 제거 된다.
a

[4, 1, 2, 5]

In [57]:
b = [3, 1, 3, 1, 3, 13, 1, 3]
b.remove(3)   # 같은 값이 여러개 일 때 앞에쪽에 있는 요소만 제거된다
b

[1, 3, 1, 3, 13, 1, 3]

In [58]:
b.remove(3)
b

[1, 1, 3, 13, 1, 3]

In [65]:
# List 요소 끄집어 내기 .pop(인덱스)
c = [1, 2, 3, 4, 5, 6]
c.pop()

6

In [66]:
c

[1, 2, 3, 4, 5]

In [67]:
c.pop(3)

4

In [68]:
c

[1, 2, 3, 5]

In [72]:
d= [3, 1, 3, 1, 12, 13, 3, 33, 3, 3, 3]
d.count(3)    # 값이 몇개인지

6

In [73]:
len(d)

11

In [74]:
# List 확장 : extend(x) x는 리스트만 올 수 있으며 a[] + x[]
e = [1, 2, 3]
e.extend([4,5])   # 리스트 추가
e

[1, 2, 3, 4, 5]

In [76]:
f = [6, 7, 8]
e.extend(f)
print(e)

[1, 2, 3, 4, 5, 6, 7, 8]