<a href="https://colab.research.google.com/github/GwanMuk/Pytion_Study24/blob/master/TupleType~%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플 자료형

튜플은 리스트와 거의 유사함, 차이점은 ()로 둘러 쌈
리스트는 CRUD(Create, Read, Update, Delete)가 가능하지만, 튜플은 CR(Create, Read)만 가능 (읽기 전용)

자바에 Collections.unmodifiableList() 기능과 유사함

https://velog.io/@clean01/Java-%EB%B3%80%EA%B2%BD%EC%9D%B4-%EB%B6%88%EA%B0%80%EB%8A%A5%ED%95%9C-Collection%EC%9D%84-%EB%A7%8C%EB%93%A4%EA%B8%B0-Immutable-Collection-Immutable-List

In [ ]:
# 튜플 생성하기

t1 = ()                         # 빈 객체
t2 = (1,)                       # 1개의 요소를 가질 때 쉼표를 반드시 붙여야 함
t3 = (1, 2, 3)
t4 = 1, 2, 3                    # 괄호 생략 가능
t5 = ('a', 'b', ('ab', ('cd'))) # 2차원 튜플

# 튜플과 리스트의 큰 차이는 요솟값을 변화시킬 수 있는지에 대한 여부 (튜플은 불가능)
# 프로그램이 실행되는 동안 요솟값이 항상 변하지 않기를 원한다면 튜플을 사용하면 됨

In [2]:
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [3]:
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

딕셔너리

딕셔너리는 단어 그대로'사전'이라는 의미다.
*   "people" -> "사람"
*  "baseball" -> "야구"와 같이
*    key값       value값이 한쌍으로 가지는 자료형이다

In [35]:
dic = {'name' : 'KimGiWon', 'phone' : '010-8888-9999', 'birth' : '0108'}    # 딕셔너리의 기본형

In [6]:
a= {1: 'a'}
a [2] = 'b'   # 딕셔너리에 추가
a

{1: 'a', 2: 'b'}

In [39]:
a = {1 : 'a', 1 : 'b', 1 : 'c'}   # key값이 중복 될 때 1개를 제외한 모든 값이 무시된다
a

{1: 'c'}

In [40]:
a['name'] = 'KimGiWon'    # Key값과 Value값(딕셔너리) 쌍으로 추가 가능
a

{1: 'c', 'name': 'KimGiWon'}

In [41]:
a[3] = [1, 2, 3]      # value값에도 배열을 넣어서 넣을 수 있다
a

{1: 'c', 'name': 'KimGiWon', 3: [1, 2, 3]}

In [42]:
del a[1]    # del 함수로 삭제 가능
a

{'name': 'KimGiWon', 3: [1, 2, 3]}

In [34]:
dic = {'name' : 'KimGiWon', 'phone' : '010-8888-9999', 'birth' : '0108'}
#       key   :   value       key   :      value          key  :  value
dic['name']   # name 이라는 Key값을 호출시 상응하는 Value값이 나옴

'KimGiWon'

In [36]:
dic['phone']

'010-8888-9999'

In [45]:
a = {[1, 2] : 'hi'}    # 리스트 형식의 값이 변할 수 있기에 Key값으로 쓸 수 없다.

TypeError: unhashable type: 'list'

In [44]:
a = {(1, 2) : 'hi'}   # 튜플 형식은 key값으로 쓸 수 있다.
a

{(1, 2): 'hi'}

In [50]:
a = {'name' : 'KimGiWon', 'phone' : '010-8888-9999', 'birth' : '0108'}
a.keys()    # key() 함수는 key값만 모아서 리턴해준다

dict_keys(['name', 'phone', 'birth'])

In [51]:
# 파이썬 3.0 이후에는 key() 함수 호출시 리스트를 리턴했는데 3.0 이후에는 객체를 리턴하도록 변경되었음
list (a.keys())   # 3.0 이후에도 리스트로 뽑고 싶다면 list() 함수를 사용하면 된다.

['name', 'phone', 'birth']

In [52]:
a.values()    # .values() 함수는 value값만 모아서 리턴해준다

dict_values(['KimGiWon', '010-8888-9999', '0108'])

In [53]:
a.items()   # .items() 함수는 key와 value값 다 객체로 리턴해준다

dict_items([('name', 'KimGiWon'), ('phone', '010-8888-9999'), ('birth', '0108')])

In [54]:
a.clear()   # .clear()함수는 딕셔너리 안의 모든 함수를 삭제한다
a

{}

집합 자료형

집합 자료형은 집합에 관련된 것들을 쉽게 처리하기 위해 만든 자료형이다

In [12]:
# 집합 자료형은 set() 명령어를 통해 만들 수 있다
s1 = set([1, 2, 3])
s1

{1, 2, 3}

In [18]:
s2= set("Hello!!!")    # 집합 자료형은 순서가 없고 중복을 허용하지 않는다
s2

{'!', 'H', 'e', 'l', 'o'}

In [19]:
s1 = set([1, 2, 3])
l1 = list(s1)           # 집합 자료형에 있는 요솟값을 인덱싱으로 접근 하려면 리스트나 튜플로 전환 후 가능
l1

[1, 2, 3]

In [20]:
l1[1]

2

In [21]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [22]:
t1[2]

3

In [24]:
# 집합형(set) 자료형은 합, 차, 교집합을 구할 때 용이 하다
s1 = set({1, 2, 3, 4, 5, 6})
s2 = set({4, 5, 6, 7, 8, 9})
# &는 교집합  |은 합집합  -는 차집합을 구할 때 사용된다
s1 | s2
# s1.union(s2)  union() 함수를 이용해서 값을 도출할 수 있다

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
s1 - s2
#s1.difference(s2)   difference() 함수를 이용해서 값을 도출할 수 있다

{1, 2, 3}

In [26]:
s2 - s1
#s2.difference(s1)

{7, 8, 9}

In [27]:
s1 & s2
# s1.intersection(s2) inetrsection() 함수를 이용해서 값을 도출할 수 있다.

{4, 5, 6}

In [28]:
s1 = set([1, 2, 3])
s1.add(4)   # .add 명령어를 사용하면 이미 만들어진 자료형에 값을 추가할 수 있다.(add는 1개의 값만 추가)
s1

{1, 2, 3, 4}

In [29]:
s1 = set([1, 2, 3])
s1.update([4, 5, 6])    # .update 명령어를 사용하면 여러개의 값도 한번에 추가 가능하다
s1

{1, 2, 3, 4, 5, 6}

In [30]:
s1 = set([1, 2, 3])
s1.remove(2)    # .remove 명령어로 특정값을 제거할 수 있다
s1

{1, 3}

불(**Bool**ean) 자료형은 참(True)과 거짓(False)을 나타내는 자료형이다

참(True)이나 거짓(False)은 파이썬 예약어로 true, false와 같이 작성하면 안되고 첫 문자를 반드시 대문자로 작성 해야한다

In [31]:
a = True  # 따옴표로 문자열을 감싸지 않아도 bool자료형으로 지정된다
type(a)

bool

In [32]:
b = False
type(b)

bool

In [55]:
# 문자열, 리스트, 튜플, 딕셔너리등의 값이 비어있다면 거짓이되고 비어있지 않으면 참이 된다.
if []:
  print("참")
else:
  print("거짓")

거짓

In [56]:
if [1, 2, 3]:
  print("참")
else:
  print("거짓")

참

In [57]:
bool('Python')

True

In [58]:
bool('')

False

자료형 값을 저장하는 공간 변수

파이썬에서 사용되는 변수는 객체를 가리키는 것이라고도 말할 수 있다.

In [60]:
a = [1, 2, 3]
# 위의 코드가 리스트 형식의 객체이며 자동으로 메모리가 생성되며 변수 a는 [1,2,3]를 지닌 메모리의 주소지가 되었다

In [61]:
id(a)   # id()함수는 변수가 가리키고 있는 객체의 주소값를 리턴해주는 파이썬의 내장 함수다
# ↓a가 가리키고 있는 리스트의 주소값이다

133945464775872

In [62]:
a = [1, 2, 3]
b = a     # b변수는 a변수와 동일하게 되었다
b

[1, 2, 3]

In [63]:
a[1] = 4
b         # 리스트는 a를 변경하였지만 b도 동일한 객체를 가리키기에 b도 a와 동일한 값을 도출한다

[1, 4, 3]

In [64]:
a = [1, 2, 3]
b = a[:]
a[1] = 4    # [:]을 사용해서 복사하면 a의 값을 변경 하여도 b리스트는 아무런 영향을 받지 않는다.
a

[1, 4, 3]

In [65]:
b

[1, 2, 3]

In [68]:
from copy import copy   # from copy import copy 파이썬 묘듈을 적어야 copy 함수를 사용할 수 있음
a = [1, 2, 3]
b = copy(a)     # b = a[:]와 동일하다
b is a

False

In [69]:
a = [1, 2, 3]
b = a.copy()  # from copy import copy 묘듈을 안쓰고도 복사하는 방법
b is a

False

In [71]:
# 튜플로도 변수를 넣을 수 있다
a, b = ('python', 'life')   # (a, b) = 'python', 'life' 도 동일한 값을 도출할 수 있다(튜플은 괄호 생략 가능)
a

'python'

In [72]:
b

'life'

In [73]:
# 리스트 변수
[a, b] = ['python', 'life']
a

'python'

In [74]:
# 여러개의 변수에 같은 값 대입
a = b = 'Python'
a

'Python'

In [75]:
b

'Python'

In [76]:
# 변수 바꾸기
a = 3
b = 5
a, b = b,a
a

5

In [77]:
b

3